{% extends "layout.twig" %}
{% block local %}Alterar categoria{% endblock %}

{% block content %}
    <div class="jumbotron">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>

                <th></th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="{{ path('alterarCateg', {id:categoria.id}) }}" method="post">
                    <td>{{ categoria.id }}</td>

                    <td><input type="text" name="nome_categoria" value="{{ categoria.nome_categoria }}"></td>

                    <td><button class="btn btn-success " type="submit" name="alterarCateg" >Alterar</button></td>
                    <input type="hidden" name="id" value="{{ categoria.id }}" />
                </form>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('categorias') }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}