{% extends "layout.twig" %}
{% block local %}Alterar tag{% endblock %}

{% block content %}
    <div class="jumbotron">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>

                <th></th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="{{ path('alterarTag', {id:tag.id}) }}" method="post">
                    <td>{{ tag.id }}</td>

                    <td><input type="text" name="nome_tag" value="{{ tag.nome_tag }}"></td>

                    <td><button class="btn btn-success " type="submit" name="alterarTag" >Alterar</button></td>
                    <input type="hidden" name="id" value="{{ tag.id }}" />
                </form>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('tags') }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}