{% extends "layout.twig" %}
{% block local %}Tags {% endblock %}
{% block content %}
    <div class="jumbotron">

        <a href="{{ url('categorias') }}"><button class="btn btn-info " type="submit" name="listCategorias" >Lista de Categorias</button></a>
        <a href="{{ url('tags') }}"><button class="btn btn-info " type="submit" name="listCategorias" >Lista de Tags</button></a>
        <a href="{{ url('index') }}"><button class="btn btn-info " type="submit" name="listCategorias" >Lista de Produtos</button></a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.nome_tag }}</td>

                    <td style="width: 10px;"><a href="{{ path('viewTag', {id:tag.id}) }}"><button class="btn btn-primary btn-xs" type="submit" name="visualizar" >Visualizar</button></a></td>
                    <td style="width: 10px;"><a href="{{ path('formTag', {id:tag.id}) }}"><button class="btn btn-warning btn-xs" type="submit" name="alterar" >Alterar</button></a></td>
                    <td style="width: 10px;"><a href="{{ path('excluirTag', {id:tag.id}) }}"><button class="btn btn-danger btn-xs" type="submit" name="deletar">Deletar</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('novo') }}"><button class="btn btn-success " type="submit" name="cadastra" >Cadastrar Novo Produto</button></a>
        <a href="{{ url('novaCateg') }}"><button class="btn btn-success " type="submit" name="cadastra" >Cadastrar Nova Categoria</button></a>
        <a href="{{ url('novaTag') }}"><button class="btn btn-success " type="submit" name="cadastra" >Cadastrar Nova Tag</button></a>

    </div><!-- /jumbotron -->
{% endblock %}