{% extends "layout.twig" %}

{% block content %}
    <div class="jumbotron">
        <h2>Pesquisa de produtos</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR</th>
                <th>CATEGORIA</th>
                <th>TAGs</th>
                <th></th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            {% for produto in produtos %}
                <tr>

                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.valor }}</td>
                    {% if produto.categoria.nomecategoria is defined %}
                        <td>{{ produto.categoria.nomecategoria }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}


                    {% if produto.tags is defined %}
                        <td>
                            {% for tag in produto.tags %}
                                <li >{{ tag.nome }}</li>
                            {% endfor %}
                        </td>
                    {% endif %}

                    <td><a href="{{ path('visualizar', {id:produto.id}) }}"><button class="btn btn-primary " type="submit" name="visualizar" >Visualizar</button></a></td>
                    <td><a href="{{ path('alterar', {id:produto.id}) }}"><button class="btn btn-warning" type="submit" name="alterar" >Alterar</button></a></td>
                    <td><a href="{{ path('excluir', {id:produto.id}) }}"><button class="btn btn-danger" type="submit" name="deletar">Deletar</button></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a href="{{ path('listar_produtos_paginado', {pagina:1 } ) }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}